{{define "add"}}
<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "header" "Add"}}
    <main>
        <form method="POST"> {{/* action="/add" define에서 디폴트 됨*/}}
            <input type="text" placeholder="Data for your block" required name="blockData" />
            <button>Add a Block</button>
        </form>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}